.info {
  position: absolute;
  top: 55%;
  z-index: 2;
  text-align: center;
  width: 100vw;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info .infoContainer {
  background-color: rgb(247, 247, 247);
  box-shadow: 2px 2px 10px var(--color-darker-gray);
  margin: 0 auto;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  word-wrap: break-word;
  width: 75%;
}

.infoContainer .column {
  margin: 1rem auto;
}

.info p {
  color: var(--color-dark-gray);
  font-weight: 500;
  font-size: 12px;
  margin: 0.3rem;
}

.info p.bold {
  color: var(--color-darker-gray);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0.6rem;
}

@media screen and (min-width: 768px) {
  .info {
    top: 74%;
  }

  .info .infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    padding: 1.5rem 2rem;
  }

  .info .infoContainer p {
    font-size: 16px;
  }
  .info .infoContainer p.bold {
    font-size: 20px;
  }

  .infoContainer .column {
    margin: 1rem 0;
  }
}

@media screen and (min-width: 1200px) {
  .info .infoContainer {
    width: 60%;
  }

  .info .infoContainer p.bold {
    margin: 0.5rem auto 0;
  }
}

@media screen and (min-width: 1600px) {
  .info .infoContainer {
    padding: 1.5rem 0;
  }
}
