.leaflet-container {
  width: 100vw;
  height: 70vh;
  z-index: 1;
}

.leaflet-control-zoom .leaflet-bar .leaflet-control {
  display: none;
}

@media screen and (min-width: 1600px) {
  .leaflet-container {
    height: 75vh;
  }
}
